<div class="fluid_container">
    <div class="main_footer">
      <div class="col-md-3">
        <ul>
          <div class="topic">
            <li><a>Study abroad</a></li>
          </div>
          <div class="menu">
            <li>How to choose your destination</li>
            <li>Study abroad intakes</li>
            <li>Guide for parents</li>
            <li>Study essentials</li>
          </div>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
            <div class="topic">
                <li><a>Connect with IDP</a></li>
              </div>
              <div class="menu">
                <li>How to choose your destination</li>
                <li>Study abroad intakes</li>
                <li>Guide for parents</li>
                <li>Study essentials</li>
              </div>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <div class="topic">
                <li><a>IELTS</a></li>
              </div>
              <div class="menu">
                <li>How to choose your destination</li>
                <li>Study abroad intakes</li>
                <li>Guide for parents</li>
                <li>Study essentials</li>
              </div>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <div class="topic">
                <li><a>Useful links</a></li>
              </div>
              <div class="menu">
                <li>How to choose your destination</li>
                <li>Study abroad intakes</li>
                <li>Guide for parents</li>
                <li>Study essentials</li>
              </div>
        </ul>
    </div>
    <div class="clr"></div>
    </div>
</div>