<div class="container">
   
    <div class="row" *ngFor="let blog of blogArr,let i = index">
        <div class="blog-header">
            <img [src]="blog.urlToImage" class="img" *ngIf="blog.urlToImage !=null else img">
            <ng-template #img>
                <img class="img" src="https://img.etimg.com/thumb/msid-87860183,width-1070,height-580,imgsize-42372,overlay-etmarkets/photo.jpg">
            </ng-template>
        </div>
        <div class="blog-body" >
            <div class="title">
                <h4>Title:</h4>
                <h2>{{blog.title}}</h2>
            </div>
            <div class="desc">
                <h4>Description:</h4>
                <p>{{blog.description}}</p>
            </div>
            <div class="desc">
                <h4>Author:</h4>
                <p>{{blog.author}}</p>
            </div>
            <div class="desc">
                <h4>Published At:</h4>
                <p>{{blog.publishedAt}}</p>
            </div>
            <div class="readmore">
                <a [routerLink]="['blog/',i]">Read More</a>
            </div>
        </div>
    </div>
    
    </div>
