.container
{
    width: 1100px;
    margin: 0 auto;
    height:400px;
}
label
{
    width:8%;
    display: inline-block;
}
.form
{
    text-align: center;
}
.btn
{
    width:15%;
    margin-left: 30px;
    padding:10px;
}
input
{
    width:20%;
}
textarea
{
  height:100px;
  width:20%; 
}
span
{
    color:red;
    margin-left:90px;
}