<div class="container">
   <div class="display">
       <div class="content">
        <h3>First Name:</h3>
        <p>{{blogs.fname}}</p><br>
        <h3>Last Name:</h3>
        <p>{{blogs.lname}}</p><br>
        <h3>Email:</h3>
        <p>{{blogs.email}}</p><br>
        <h3>Mobile Number:</h3>
        <p>{{blogs.mobno}}</p><br>
        <h3>Date of Birth:</h3>
        <p>{{blogs.dob}}</p><br>
        <h3>Address:</h3>
        <p>{{blogs.address}}</p><br>
        <h3>Country:</h3>
        <p>{{blogs.country}}</p><br>
        <h3>About You:</h3>
        <p>{{blogs.aboutyou}}</p><br>
        <button (click)="edit(blogs)" class="btn">Edit</button>
       </div>
    </div> 
</div>
